body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #41929c 0%, #333f57 100%);
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 900px;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 28px;
    margin-bottom: 10px;
    color: #333;
}

.progress-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.course {
    padding: 15px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.course h2 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #333;
}

.progress-bar {
    background: #ddd;
    border-radius: 12px;
    overflow: hidden;
    height: 20px;
    margin-bottom: 10px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.progress-bar .progress {
    background: linear-gradient(45deg, #ff9a9e, #fad0c4);
    height: 100%;
    width: 0;
    transition: width 0.4s ease;
}

.slider {
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    height: 8px;
    background: #ddd;
    outline: none;
    opacity: 0.7;
    border-radius: 4px;
    margin-top: 10px;
}

.slider:hover {
    opacity: 1;
}

.deadline {
    color: #100d0d;
    font-size: 14px;
}

.back-button-container {
    text-align: center;
    margin-top: 20px;
}

.back-button {
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.back-button:hover {
    background-color: #171313;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
}
